.footer {
  /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-0));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  width: 100%;
  padding-top: rem(10px);
  padding-bottom: rem(13px);
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;

  /* @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  } */
}

/* .links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
} */